.footer {
  //   position: fixed;
  margin: auto;
  left: 0;
  bottom: 0;
  width: 89%;
  background-color: rgb(255, 225, 230);
  color: black;
  text-align: center;
  padding: 5px;
  font-size: 13px;
}
